[submodule "custom_pytorch/external/custom_pytorch/external"]
	path = custom_pytorch/external/custom_pytorch/external
	url = https://github.com/rafaelpadilla/Object-Detection-Metrics.git
[submodule "custom_pytorch/external/Object-Detection-Metrics"]
	path = custom_pytorch/external/Object-Detection-Metrics
	url = https://github.com/rafaelpadilla/Object-Detection-Metrics.git
[submodule "custom_pytorch/external/PyTorch-ENet"]
	path = custom_pytorch/external/PyTorch-ENet
	url = https://github.com/davidtvs/PyTorch-ENet.git
[submodule "custom_pytorch/external/object_detection_metrics"]
	path = custom_pytorch/external/object_detection_metrics
	url = https://github.com/rafaelpadilla/Object-Detection-Metrics.git
[submodule "custom_pytorch/external/pytorch_enet"]
	path = custom_pytorch/external/pytorch_enet
	url = https://github.com/davidtvs/PyTorch-ENet.git
