# Manifest syntax https://docs.python.org/2/distutils/sourcedist.html
graft wheelhouse
graft custom_pytorch

global-exclude *.py[co] __pycache__ *.orig *.png *.jpg

exclude *.js*
exclude *.git*
exclude *.coveragerc
include offline_install.sh
exclude proc*
exclude pylint*
exclude README*

include requirements.txt
exclude requirements-dev.*
include *.py

prune .git
prune venv
prune test*

# Include the README
include *.md

# Include the license file
include LICENSE.txt

# Include the data files
recursive-include data *