hiddenlayer==0.3
efficientunet_pytorch==0.0.6
albumentations==0.5.2
easydict==1.9
numpy==1.19.5
tqdm>=4.56.0
wheel==0.36.2
pandas==1.2.0
git+git://github.com/qubvel/segmentation_models.pytorch.git
opencv-python==4.5.1.48
torchnet==0.0.4
matplotlib==3.3.3
torchvision>=0.4.0
torch==1.7.1
scipy==1.6.0
pytest==6.2.1
torchvision>=0.8.2
