segmentation_models_pytorch==0.0.1
setuptools==41.2.0
torchvision==0.4.0
numpy==1.16.4
tqdm==4.19.9
pandas==0.24.2
matplotlib==3.1.0
hiddenlayer==0.2
easydict==1.9
opencv_python_headless==4.1.0.25
albumentations==0.3.2
typing==3.6.6
torchnet==0.0.4
efficientunet_pytorch==0.0.5