hiddenlayer==0.2
efficientunet_pytorch==0.0.5
albumentations==0.3.1
easydict==1.9
numpy==1.17.0
tqdm==4.32.1
pandas==0.25.0
git+git://github.com/qubvel/segmentation_models.pytorch.git
opencv_python_headless==4.1.0.25
typing==3.6.6
torchnet==0.0.4
matplotlib==3.0.3
torchvision>=0.4.0
torch==1.2.0
scipy==1.2.1
pillow==5.4.1
urllib3==1.24.2
tornado==5.0.2


